.footer{
  align-items: center;
color: #1a202c;

}
.scanIcon{
  font-size: 40px;
  line-height: 50px;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: bottom;

}

.btn-primary{
  position: center;
  margin-top: 10px;
  border: 30px;
  /*background-color: rgb(233,96,54);*/
  background-color: rgb(143,209,83);

}

.bg-light{
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
  width: 100%;
  background-color: rgba(3, 132, 229, 0.65) !important;

}

.langSelector{

  width: 20%;
}
