
<nav  *ngIf="!router.url.includes('admin') && router.url !=='/login'"
      class="footer fixed-bottom navbar-light bg-light">



  <ul class="navbar-nav" >
    <li  class="nav-item text-center w-100">
      <button type="button"   (click)="openScanner()" class="btn btn-primary btn-rounded btn-icon rounded-circle "><fa-icon class="scanIcon"  [icon]="faQrcode"></fa-icon>
      </button>  </li>
  </ul>

  <div *ngIf="lang != null">
    <select (change)="changeLang($any($event.target).value)">
      <option [value]="'nl'" [selected]="lang == 'nl' " >Nederlands</option>
      <option value="en" [selected]="lang == 'en' ">English</option>
      <option value="fr" [selected]="lang == 'fr' ">Francais</option>
      <option value="de" [selected]="lang == 'de' ">Deutsch</option>
    </select>
  </div>

</nav>
