<h1>plants</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">title</th>
    <th scope="col">picture</th>

  </tr>
  </thead>
  <tbody>
<!--  <tr *ngFor="let plant of plants; index as i">-->
<!--    <th scope="row">{{ i + 1 }}</th>-->
<!--    <td>{{poi.name}}</td>-->
<!--    <td><button type="button" class="btn btn-info" (click)="onEdit(poi)">Edit</button>-->
<!--      <button type="button" class="btn btn-danger" (click)="onDelete(poi)">Delete</button>-->
<!--      <button *ngIf="poi.hasContent == false" type="button" class="btn btn-info" (click)="addContent(poi)">Create content</button>-->
<!--    </td>-->
<!--  </tr>-->
  </tbody>
</table>
