<h1>Choose your language</h1>

<div class="container flags">
  <div class="row">
    <div class="col"><img src="assets/images/netherlands.png" alt="dutch">
    <p><b>Nederlands</b></p></div>
    <div class="col"><img src="assets/images/united-kingdom.png" alt="english">
      <p><b>English</b></p></div>
    <div class="w-100"></div>
    <div class="col"><img src="assets/images/germany.png" alt="german">
      <p><b>Deutsch</b></p></div>
    <div class="col"><img src="assets/images/france.png" alt="france">
      <p><b>Francais</b></p></div>
  </div>
</div>

