
.homePage{
  margin-bottom: 150px;
}

button{
margin-left :30%;
margin-right:10% }

.scrolling-wrapper{
  overflow-x: auto;
}

.card{
  margin: 8px;
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
  border: none;
  color: rgba(39, 30, 22, 0.73);
  text-transform: uppercase;

}
.card-block {

  background-color: #af2323;
  background-position: center;
  background-size: cover;
  border-radius: 24px;
}
:hover{
   transform: translateY(-5px);
   box-shadow: none;
   opacity: 0.9;
 }

.btn-primary{
  font-size: 18px;
  margin-top: 10px;
margin-right: 0;
  margin-left: 0;
  border-radius: 50px;
  border: none;
  max-width: 40px;
  background-color: rgb(233,96,54);
}


.card-body{
  margin-top: 60%;
  margin-left:10%;
}

.gardens{
  text-align: left;
  margin-left: 5%;
  color: rgb(249,209,83);
}
