<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="0">

    <a ngbNavLink>Poi</a>
    <ng-template ngbNavContent>


      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="poi.name"       name="name">
      </div>

      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="text"  class="form-control" id="latitude"
               [(ngModel)]="poi.lat"        name="latitude">
      </div>
      <div class="form-group">
        <label for="longitude">longitude</label>
        <input type="text"  class="form-control" id="longitude"
               [(ngModel)]="poi.long"     name="longitude">
      </div>
      <div class="form-group">
        <label for="poiImage">POI Image</label>
        <input type="file"  class="form-control" id="poiImage"
               name="poiImage">
      </div>

      <div class="container">
        <ngx-qrcode
          [elementType]="elementType" [errorCorrectionLevel]="correctionLevel"
        [value]="value"
        cssClass="poiQRCode"></ngx-qrcode>
      </div>

      <a [href]="href"  (click)="downloadImage()" download>Download Image</a>
    </ng-template>

  </li>
  <li *ngFor="let poiContent of poiContents; let i =  index" [ngbNavItem]="i+1">
    <a ngbNavLink>{{poiContent.lang}}</a>
    <ng-template ngbNavContent>
      <div class="form-group">
        <label for="title{{i}}">Title</label>
        <input type="text" class="form-control" id="title{{i}}"
               [(ngModel)]="poiContent.title" required
               name="title">
      </div>

      <div [formGroup]="form">
        <angular-editor id="editor{{i}}" formControlName="htmlContent1" [(ngModel)]="poiContent.body" [config]="editorService.builEditor()"></angular-editor>

      </div>
      <div class="form-group">
        <label for="audioFile">Audio File</label>
        <input type="file"  class="form-control" id="audioFile"
               name="audioFile">
      </div>
    </ng-template>
  </li>

  <button type="button" (click)="onUpdate()"  class="btn btn-success">Save</button>

</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
<div id="map"  ></div>

<pre>Active: {{ active }}</pre>


