
<app-single-audio-player></app-single-audio-player>

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    Introduction<small class="text-muted duration">30 sec</small>
  </button>
  <button type="button" class="list-group-item list-group-item-action">Africa <small class="text-muted duration"> 2 min</small></button>
  <button type="button" class="list-group-item list-group-item-action">Europe <small class="text-muted duration"> 3 min</small></button>
  <button type="button" class="list-group-item list-group-item-action">Medical Garden<small class="text-muted duration">2 min</small></button>
  <button type="button" class="list-group-item list-group-item-action">Asia<small class="text-muted duration" >2 min</small></button>
  <button type="button" class="list-group-item list-group-item-action">May 16<small class="text-muted duration"> 1 min</small></button>
</div>

<div class="map" id="map" ></div>
